* {
    box-sizing: border-box;
}

.playerHealth {
    background-color: yellow;
    height: 25px;
    width: 100%;
}

.timer {
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.healthParent {
    position: relative;
    height: 25px;
    width: 100%;
}

.healthParentPlayer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 25px;
    width: 100%;
}

.health {

    background-color: blue;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.healthPlayer {

    background-color: blue;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.healthBg {
    background-color: yellow;
    height: 25px;
}

.healthBgPlayer {
    background-color: yellow;
    height: 25px;
    width: 100%;
}

.containerRelative {
    position: relative;
    display: inline-block;
}

.containerAbsolute {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    padding: 20px;
}