* {
    box-sizing: border-box;
}

.playerHealth {
    background-color: yellow;
    height: 25px;
    width: 100%;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    font-size: 40px;
}

.healthParent {
    display: flex;
    justify-content: flex-end;;
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
}

.healthParentPlayer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
}

.energyParentPlayer {
    display: flex;
    position: relative;
    height: 100%;
    width: 50%;
}

.energyParent {
    display: flex;
    position: relative;
    height: 100%;
    width: 50%;
}

.health {
    background-color: blue;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
}

.healthPlayer {
    background-color: blue;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
}

.healthBg {
    background-color: yellow;
    height: 25px;
}

.energyBg {
    background-color: purple;
    height: 25px;
}

.healthBgPlayer {
    background-color: yellow;
    height: 25px;
    width: 100%;
}

.energyBgPlayer {
    background-color: purple;
    height: 25px;
    width: 100%;
}

.containerRelative {
    position: relative;
    display: inline-block;
}

.containerAbsolute {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.gameEndTextDiv {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#gameEndText {
    display: none;
    color: white;
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.playerDiv {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 40px;
    width: 100%;
}

.enemyDiv {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 40px;
    width: 100%;
}